html, 
body,
#estConnecte {
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    font-family: "Calibri";
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* CONNEXION */

#connexion {
    display: flex;
    flex-direction: row;

    height: 50%;
    width: 50%;
    margin: auto;
}

#connexion > div {
    margin: calc(auto - 10px);
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

#connexion > div,
#connexion > div > div {
    text-align: center !important;
    width: 100%;
}

#connexion input {
    text-align: center;
}

#connexion > div > div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#logoConnexion > div:nth-of-type(1) {
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100px !important;
}

#logoConnexion > div:nth-of-type(2) {
    font-size: 40px;
}

#formCnx button {
    height: 30px;
    border: 1px solid transparent;
}

#formCnx button+button {
    margin-top: 10px;
}

#btnCnx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#btnCnx > button {
    flex-grow: 1;
    min-width: 60px;
}

#modeAffichage {
    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 20px !important;
}

#modeAffichage > img {
    width: 20px;
}

/* MENU */

#menu {
    height: 5%;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

#menu > div,
#menu > a {
    text-align: center;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

#menu > a img {
    height: 70%;
    margin: auto;
}

#menu > div > span,
#menu > a > span {
    margin: auto;
}

#menu > div+div,
#menu > a+div,
#menu > a+a,
#menu > div+a {
    border-left: black solid 1px;
}

.btn {
    width: 40px;
}

.infosProjet {
    flex: 1;
}

/* PAGE */

#page::after{
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    opacity: 0.10;
}

#page > .active {
    visibility: visible;
}

#page > div {
    visibility: hidden;
    height: 0px;
}

#page > #conf,
#page > #paiem {
    display: flex;
    width: 100%;
}

#page > #conf > img,
#page > #paiem > img {
    margin: auto 10px;
    vertical-align: middle;
    
    height: auto;
    max-height: 90vh;
    
    width: calc(100% - 20px);
}

/* DEVIS */

#devis table {
    width: 100%;
    border-collapse: collapse;
}

#devis table td {
    margin: 0px;
    padding: 0px;
}

#devis table tbody tr {
    height: 30px;
}

#devis table tbody td {
    height: 30px;
    margin: 0px 20px;
    padding: 0px 20px;
}

/* https://www.ipgirl.com/1300/joker-en-css-pour-les-classes.html */
#devis table tbody tr[id^='devL_'] > td:nth-of-type(4)::after {
    content: " €"
}

#saisieLignDevis {
    height: 50px !important;
    opacity: 0.6;
}

#saisieLignDevis:hover {
    opacity: 1;
}

#saisieLignDevis:active {
    opacity: 1;
}

#modele {
    display: none;
}

td > input,
td > button {
    width: 90%;
    padding:6px 6px 6px 6px;
	font:Bold 13px Arial;
	border-radius:2px;
	border:none;
}

td > input {
    /*margin: auto 5%;*/
    width: 100%;
}

#devis table td:last-of-type,
#devis table th:last-of-type {
    min-width: 80px;
}

.btnValidLign {
    background-image: url("./img/valide.svg") !important;
    background-size: 60% auto !important;
}

.btnModLign {
    background-image: url("./img/edition.svg") !important;
    background-size: 70% auto !important;
}

.btnSuppLign {
    background-image: url("./img/supprimer.svg") !important;
    background-size: 40% auto !important;
}

.btnValidLign,
.btnModLign,
.btnSuppLign {
    width: 44%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 80%;
}

.masque {
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    
    margin: 0px !important;
    padding: 0px !important;
    display: none !important;
}

/* INFOS DEVIS */

#piedDevis {
    height: 5%;
    min-height: 40px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    align-items: center;
}

#piedDevis > div {
    height: 100%;
    display: flex;
    padding: 0px 5px
}

#piedDevis > div > div {
    margin: auto 0px;
}

#piedDevis > div+div {
    border-left : black solid 1px;
}



#totaux {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    flex: 1;
}

#ht-tva {
    flex: 1;
    font-size: 90%;
}

#ttc {
    justify-content: flex-end;
    margin: auto;
    font-size: 130%;
}

#ttc > label {
    font-weight: bold;
}

/* PARAMETRES */

#parametres {
    z-index: 1;
    width: 90px;
    margin-left: calc(100% - 90px - 1px);
    display: flex;
    flex-direction: column;
    
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#parametres button {
    height: 30px;
    width: 100%;
    border: 0px;
}

#parametres > div {
    display: flex;
    flex-direction: row;
}

#parametres > div > button {
    width: 50%;
}

#parametres  button > img {
    height: 20px;
}

.btnBase {
    background-color: #dedede;
    box-shadow: inset 0px 0px 0px transparent !important;
}

#btnPageJour {
    box-shadow: inset -2px -2px 3px #aaa;
}

#btnPageNuit {
    box-shadow: inset 2px -2px 3px #aaa;
}