html,
body,
body > div,
#estConnecte,
#bodyConnexion {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Calibri";
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* CONNEXION */

#connexion {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 70%;
    margin: auto;
}

#connexion > div {
    margin: calc(auto - 10px);
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

#connexion > div,
#connexion > div > div {
    text-align: center !important;
    width: 100%;
}

#connexion input {
    text-align: center;
    height: 40px;
    font-size: 20px;
}

#connexion > div > div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#logoConnexion > div:nth-of-type(1) {
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100px !important;
}

#logoConnexion > div:nth-of-type(2) {
    font-size: 40px;
}

#formCnx button {
    height: 50px;
    border: 1px solid transparent;
    font-size: 20px;
}

#formCnx button + button {
    margin-top: 10px;
}

#btnCnx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#btnCnx > button {
    flex-grow: 1;
    min-width: 60px;
}

#formCnx input + #btnCnx {
    margin-top: 40px;
}

#formCnx input + label {
    margin-top: 10px;
}

#modeAffichage {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px !important;
}

#modeAffichage > img {
    width: 20px;
}

/* MENU */

#menu {
    height: 5%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#menu > div,
#menu > a {
    text-align: center;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

#menu > a img {
    height: 70%;
    margin: auto;
}

#menu > div > span,
#menu > a > span {
    margin: auto;
}

#menu > div + div,
#menu > a + div,
#menu > a + a,
#menu > div + a {
    border-left: black solid 1px;
}

.btn {
    width: 60px;
}

.infosProjet {
    flex: 1;
}

/* PAGE */

#page::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.10;
}

#page > .active {
    visibility: visible;
}

#page > div {
    visibility: hidden;
    height: 0px;
}

#page > #conf,
#page > #paiem {
    display: flex;
    width: 100%;
}

#page > #conf > img,
#page > #paiem > img {
    margin: auto 10px;
    vertical-align: middle;
    height: auto;
    max-height: 90vh;
    width: calc(100% - 20px);
}

/* DEVIS */

#devis table {
    width: 100%;
    border-collapse: collapse;
}

#devis table td {
    margin: 0px;
    padding: 0px;
}

#devis table tbody tr {
    height: 50px;
}

#devis table tbody td {
    height: 50px;
    margin: 0px 20px;
    padding: 0px 20px;
}

/* https://www.ipgirl.com/1300/joker-en-css-pour-les-classes.html */
#devis table tbody tr[id^='devL_'] > td:nth-of-type(4)::after {
    content: " €"
}

#saisieLignDevis {
    height: 70px !important;
    opacity: 0.6;
}

#saisieLignDevis:active,
#saisieLignDevis:hover {
    opacity: 1;
}

#modele {
    display: none;
}

td > input,
td > button {
    width: 90%;
    padding: 6px 6px 6px 6px;
    font: Bold 13px Arial;
    border-radius: 2px;
    border: none;
    height: 70%;
}

td > button {
    height: 100% !important;
}

td > input {
    /*margin: auto 5%;*/
    width: 100%;
}

#devis table td:last-of-type,
#devis table th:last-of-type {
    min-width: 150px;
}

.btnAjLign {
    background-image: url("./img/ajouter.svg") !important;
    background-size: 30% auto !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.btnValidLign {
    background-image: url("./img/valide.svg") !important;
    background-size: 60% auto !important;
}

.btnModLign {
    background-image: url("./img/edition.svg") !important;
    background-size: 30px auto !important;
}

.btnSuppLign {
    background-image: url("./img/supprimer.svg") !important;
    background-size: 40% auto !important;
}

.btnValidLign,
.btnModLign {
    width: 44% !important;
}

.btnValidLign,
.btnModLign,
.btnSuppLign,
.btnAjLign {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: unset;
}

.btnSuppLign {
    width: 90%;
    background-size: 30px !important;
}

.btnValidLign + .btnSuppLign,
.btnModLign + .btnSuppLign,
.btnModLign + .btnSuppLign {
    width: 44%;
}

/*
.btnValidLign,
.btnModLign,
.btnSuppLign {
    width: 44%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 80%;
}
*/

.masque {
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    display: none !important;
}

/* INFOS DEVIS */

#piedDevis {
    height: 5%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    font-size: 20px;
}

#piedDevis > div {
    height: 100%;
    display: flex;
    padding: 0px 5px
}

#piedDevis > div > div {
    margin: auto 0px;
}

#piedDevis > div + div {
    border-left: black solid 1px;
}

#selectFin,
#selectFin > option {
    height: 40px !important;
}

#divers {
    background-image: url(./img/divers.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
    width: 40px;
}

#divers > ul {
    list-style: none;
    position: relative !important;
    bottom: 71px;
    left: -45px;
    width: auto !important;
}

#divers > ul > li {
    background-color: #929292;
    width: 100% !important;
    text-align: center;
    padding: 0px 5px !important;
    width: 150px !important;
}

#totaux {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

#ht-tva {
    flex: 1;
    font-size: 90%;
}

#ttc {
    justify-content: flex-end;
    margin: auto;
    font-size: 130%;
}

#ttc > label {
    font-weight: bold;
}

/* PARAMETRES */

#parametres {
    z-index: 1;
    width: 120px;
    margin-left: calc(100% - 120px - 1px);
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#parametres button {
    height: 50px;
    width: 100%;
    border: 0px;
}

#parametres > div {
    display: flex;
    flex-direction: row;
}

#parametres > div > button {
    width: 50%;
}

#parametres button > img {
    height: 30px;
}

.btnBase {
    background-color: #dedede;
    box-shadow: inset 0px 0px 0px transparent !important;
}

#btnPageJour {
    box-shadow: inset -2px -2px 3px #aaa;
}

#btnPageNuit {
    box-shadow: inset 2px -2px 3px #aaa;
}

/* GESTION DU DEVIS */

#bodySelDevis {
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0px;
}

#selectionDevis {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 5px solid gray;
}

#selectionDevis > select {
    min-height: 40px;
}


#selectionDevis > div {
    display: flex;
}

#selectionDevis > div > button {
    margin: 10px auto 0px auto;
    width: 40%;
    height: 40px;
    border: transparent;
    font-size: 20px;
}

#selectionDevis hr {
    margin: 20px auto 10px auto !important;
}

#selectionDevis h3 {
    margin: 0px;
    text-align: center;
}

/* Menu "Divers" */

#bodySelRemise {
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0px;
}

#bodySelRemise > div {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 5px solid gray;
}

#bodySelRemise > div > div > input,
#bodySelRemise > div > div > label {
    font-size: 30px;
}

#selArticleRemise,
#validSelArt {
    height: 40px !important;
}

#saisieRemise,
#saisieRemise > div {
    display: flex;
    font-size: 25px;
}

#saisieRemise > div:first-of-type {
    width: 30%;
    margin: 0px;
}

#saisieRemise > div:last-of-type {
    width: auto;
    margin-left: auto;
}

#choixSelRemise {
    display: flex;
    align-items: stretch !important;
}

#choixSelRemise > button {
    margin: 10px auto 0px auto;
    width: 40%;
    height: 40px;
    border: transparent;
    font-size: 20px;
}

/* écran d'attente */

#cordovaAttente {
    color: gray;
    display: flex;
}

#cordovaAttente div {
    margin: auto;
}

@keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 15px;
        left: 15px;
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 15px;
        left: 15px;
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.lds-ripple {
    position: relative;
}

.lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(1) {
    border-color: #056839;
}

.lds-ripple div:nth-child(2) {
    border-color: #8dc63f;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}