/*
    vert foncé : #056839
    vert clair : #8dc63f
    marron : #6e6356
*/

hr {
    border: 1px solid black;
    width: 100%
}

#bodyConnexion {
    background-image: url("./img/beautiful-home-1680790_creativeCommons0.jpg");
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#fondBlancCnx {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#connexion {
    z-index: 2;
}

    #connexion > div + div {
        border-left: 1px solid #909090;
    }

#logoConnexion > div:nth-of-type(1) {
    background-image: url("./img/logoMadera.svg");
}

#validerChoixDevis,
#validConnex {
    background-color: green;
    color: white;
}

#fermerChoixDevis,
#effacConnex {
    border: 1px solid red !important;
    background-color: white;
    color: red;
}

#menu {
    background-color: #8dc63f;
}

    #menu .btnActif {
        background-color: #056839;
        color: white;
    }

#page::after {
    background-image: url("./img/logoMadera.svg");
}

#piedDevis {
    background-color: #6e6356;
    color: white;
}

#saisieLignDevis {
    background-color: #a9a9a9 !important;
}

.btnAjLign {
    background: #3ad336;
    color: #fff;
}

.btnValidLign {
    background-color: green;
    color: white;
}

.btnModLign {
    background: #d38f36;
    color: #fff;
}

.btnSuppLign {
    background: #d34836;
    color: #fff;
}

/*
.confirmationSupp {
    background: repeating-linear-gradient( 45deg, #fff0, #fff 10px, #f003 10px, #f003 20px );
}
*/

.confirmationSupp {
    background-color: rgba(255, 0, 0, 0.18) !important;
    /*
    background: -webkit-repeating-linear-gradient( 45deg, #fff0, #fff 10px, #f003 10px, #f003 20px );
    background: -o-repeating-linear-gradient( 45deg, #fff0, #fff 10px, #f003 10px, #f003 20px );
    background: repeating-linear-gradient( 45deg, #fff0, #fff 10px, #f003 10px, #f003 20px );
    */
}

#devis > table > tbody > tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.07);
}

#selectionDevis {
    background-color: white;
}

#telechDevis,
#envoyerDevis {
    background-color: #e3e3e3;
}