hr {
    border: 1px solid white;
    width: 100%
}

body {
    background-color: black;
}

tr {
    color: white;
}

#connexion {
    color: white;
}

#connexion > div + div {
    border-left: 1px solid #909090;
}

#logoConnexion > div:nth-of-type(1),
#page::after {
    background-image: url("./img/logoMaderaBlanc.svg");
}

#validerChoixDevis,
#validConnex,
#validerChoixRemise {
    background-color: #ffffffb3;
    color: black;
}

#fermerChoixDevis,
#effacConnex,
#fermerChoixRemise {
    border: 1px solid white !important;
    background-color: #fff3;
    color: white;
}

#menu {
    background-color: #eaeaea;
}

#menu .btnActif {
    background-color: #686868;
    color: white;
}

#piedDevis {
    background-color: #696969;
}

#saisieLignDevis {
    background-color: #a9a9a9 !important;
}

.btnAjLign {
    background: #3ad336;
    color: #fff;
}

.btnValidLign {
    background-color: green;
    color: white;
}

.btnModLign {
    background: #d38f36;
    color: #fff;
}

.btnSuppLign {
    background: #d34836;
    color: #fff;
}

/*
.confirmationSupp {
    background: repeating-linear-gradient( 45deg, #fff0, #fff 10px, #f003 10px, #f003 20px );
}
*/

.confirmationSupp {
    background-color: rgba(255, 0, 0, 0.62) !important;
    /*
    background: -webkit-repeating-linear-gradient( 45deg, #fff0, #dedede3d 10px, #00000000 10px, #f000 20px );
    background: -o-repeating-linear-gradient( 45deg, #fff0, #dedede3d 10px, #00000000 10px, #f000 20px );
    background: repeating-linear-gradient( 45deg, #fff0, #dedede3d 10px, #00000000 10px, #f000 20px );
    */
}

.ligneModif {
    background-color: rgba(211, 143, 54, 0.68) !important;
}

#devis > table > tbody > tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.18);
    color: white;
}

#selectionDevis {
    background-color: #666666;
}

#bodySelRemise > div {
    background-color: #666666;
    color: white;
}

#telechDevis,
#envoyerDevis {
    background-color: #e3e3e3;
}