html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    font-family: "Calibri";
}

/* MENU */

#menu {
    height: 5%;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

#menu > div,
#menu > a {
    text-align: center;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

#menu > div > span,
#menu > a > span {
    margin: auto;
}

#menu > div+div,
#menu > a+div,
#menu > a+a,
#menu > div+a {
    border-left: black solid 1px;
}

.btn {
    width: 40px;
}

.infosProjet {
    flex: 1;
}

/* PAGE */

#page::after{
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    opacity: 0.10;
}

#page > .active {
    visibility: visible;
}

#page > div {
    visibility: hidden;
    height: 0px;
}

#page > #conf,
#page > #paiem {
    display: flex;
    width: 100%;
}

#page > #conf > img,
#page > #paiem > img {
    margin: auto 10px;
    vertical-align: middle;
    
    height: auto;
    max-height: 90vh;
    
    width: calc(100% - 20px);
}

/* DEVIS */

#devis table {
    width: 100%;
    border-collapse: collapse;
}

#devis table td {
    margin: 0px;
    padding: 0px;
}

#devis table tbody tr {
    height: 30px;
}

#devis table tbody td {
    height: 30px;
    margin: 0px 20px;
    padding: 0px 20px;
}

#saisieLignDevis {
    height: 50px !important;
    opacity: 0.6;
}

#saisieLignDevis:hover {
    opacity: 1;
}

#saisieLignDevis:active {
    opacity: 1;
}

#modele {
    display: none;
}

td > input,
td > button {
    width: 90%;
    padding:6px 6px 6px 6px;
	font:Bold 13px Arial;
	border-radius:2px;
	border:none;
}

td > input {
    /*margin: auto 5%;*/
    width: 100%;
}

#devis table td:last-of-type,
#devis table th:last-of-type {
    min-width: 80px;
}

.btnValidLign {
    background-image: url("./img/valide.svg") !important;
    background-size: 60% auto !important;
}

.btnModLign {
    background-image: url("./img/edition.svg") !important;
    background-size: 70% auto !important;
}

.btnSuppLign {
    background-image: url("./img/supprimer.svg") !important;
    background-size: 40% auto !important;
}

.btnValidLign,
.btnModLign,
.btnSuppLign {
    width: 44%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 80%;
}

.masqueBtn {
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    
    margin: 0px !important;
    padding: 0px !important;
}

/* INFOS DEVIS */

#piedDevis {
    height: 5%;
    min-height: 40px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    align-items: center;
}

#piedDevis > div {
    height: 100%;
    display: flex;
}

#piedDevis > div > div {
    margin: auto 0px;
}

#piedDevis > div+div {
    border-left : black solid 1px;
}



#totaux {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    flex: 1;
}

#ht-tva {
    flex: 1;
    font-size: 90%;
}

#ttc {
    justify-content: flex-end;
    margin: auto;
    font-size: 130%;
}

#ttc > label {
    font-weight: bold;
}