/*
    vert foncé : #056839
    vert clair : #8dc63f
    marron : #6e6356
*/


#menu {
    background-color: #8dc63f;
}

#menu .btnActif {
    background-color: #056839;
    color: white;
}

#page::after{
    background-image: url("./img/logoMadera.svg");
}

#piedDevis {
    background-color: #6e6356;
}

#saisieLignDevis {
    background-color: #a9a9a9 !important;
}

.btnAjLign {
	background:#3ad336;
	color:#fff;
}

.btnModLign {
    background:#d38f36;
	color:#fff;
}

.btnSuppLign {
    background:#d34836;
	color:#fff;
}

#devis > table > tbody > tr:nth-of-type(odd)  {
    background-color: #efefef;
}