/*
    vert foncé : #056839
    vert clair : #8dc63f
    marron : #6e6356
*/

#connexion > div+div {
    border-left: 1px solid #909090;
}

#logoConnexion > div:nth-of-type(1) {
    background-image: url("./img/logoMadera.svg");
}

#validConnex {
    background-color: green;
    color: white;
}

#effacConnex {
    border: 1px solid red !important;
    background-color: white;
    color: red;
}

#menu {
    background-color: #8dc63f;
}

#menu .btnActif {
    background-color: #056839;
    color: white;
}

#page::after{
    background-image: url("./img/logoMadera.svg");
}

#piedDevis {
    background-color: #6e6356;
}

#saisieLignDevis {
    background-color: #a9a9a9 !important;
}

.btnAjLign {
	background:#3ad336;
	color:#fff;
}

.btnValidLign {
    background-color: green;
    color: white;
}

.btnModLign {
    background:#d38f36;
	color:#fff;
}

.btnSuppLign {
    background:#d34836;
	color:#fff;
}

.confirmationSupp {
    background: repeating-linear-gradient( 
        45deg, 
        #fff0, 
        #fff 10px, 
        #f003 10px, 
        #f003 20px
    );
}

#devis > table > tbody > tr:nth-of-type(even)  {
    background-color: #efefef;
}